{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <h2> Create a new roast: </h2>
    <form method="POST" action="{% url 'roast:create' %}">
        {% csrf_token %}
        <div class="form-group">
            <label>Name:</label>
            <input name="name" class="form-control" placeholder="Mighty Titan..">
            <color-range name="color"></color-range>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}

{% block rightcol %}
{% endblock %}

{% block post_body_static %}
<script src="{% static 'home/home.js' %}"></script>
{% endblock %}
