h1,
h2,
input {
    font-family: 'Merriweather', monospace;
}

h3,
h4,
p,
span,
label,
strong,
div {
    font-family: 'Inconsolata', serif;
}

div:focus,
input:focus {
    outline: none;
}

.fade-enter-active {
  animation: smoothEnlarge .5s;
}

.fade-leave-active {
  animation: smoothEnlarge .25s reverse;
}

@keyframes smoothEnlarge {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

