{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="roast-app">
    <roast_list>
    </roast_list>
</div>
{% endblock %}

{% block post_body_static %}
<script>

Vue.component('roast_list', {
    delimiters: ["[[", "]]"],
    data() {
        return {
            roasts: [],
        }
    },
    created() {
        var self = this;
        axios.get('/roast/create')
            .then(function (response) {
                response.data.forEach((r) => {
                    self.roasts.push(r)
                })
            })
            .catch(function (error) {
                alert(error);
            });
    },
    template: `
    <div>
        <ul style="padding: 0px;">
            <li 
                v-for="roast in roasts"
                style="list-style-type: none; padding-top: 12px;"
            >
                <roast_item
                    v-bind:title="roast.name"
                    v-bind:color="roast.color"
                    v-bind:description="roast.description"
                    v-bind:dark="true"
                ></roast_item>
            </li>
        </ul>
    </div>
    `,
})
Vue.component('roast_item', {
    props: ["title", "description", "color", "dark"],
    delimiters: ["[[", "]]"],
    template: `
    <div class="card" style="padding: 12px;" v-bind:class="{ 'text-white': dark, 'bg-dark': dark }">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">[[ title ]]</h5>
            <small>Color (1-100): [[ color ]]</small>
        </div>
        <p class="mb-1">[[ description ]]</p>
    </div>
    `,
})
</script>
{% endblock %}