{% load static %}
<!doctype html>

<html lang="en" style="width: 100%; height: 100%; margin: 0; padding: 0">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=387893331992450&autoLogAppEvents=1"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'base/base.css' %}">
</head>
<body style="width: 100%; height: 100%; margin: 0; padding: 0">
<div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarTogglerDemo01" 
        aria-controls="navbarTogglerDemo01" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
      </button>
      <h1><a class="navbar-brand" href="/">The Roast</a></h1>
      <div class="collapse navbar-collapse">
        <div class="mr-auto">
        </div>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <div style="padding-right: 12px;">
              <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                  {% if user.is_authenticated %}
                    <a href="{% url 'index:home' %}"><button style="margin-right: 6px" type="button" class="btn btn-outline-primary">Home</button></a>
                    <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-primary">Logout</button></a>
                  {% else %}
                    <button type="button" class="btn btn-lg btn-outline-light" data-toggle="modal" data-target="#loginModal">Login</button>
                    <button type="button" class="btn btn-lg btn-outline-light" data-toggle="modal" data-target="#loginModal">Signup</button>
                  {% endif %}
                </div>
              </div>
            </div>
          </li>
        </ul>
        <roast-search v-bind:options="{url: '/'}">
        </roast-search>
      </div>
    </div>
  </nav>
  <div style="margin: 0px; width: 100%; height: 100%;">
      <div class="row" style="height: 95%; width:100%; margin: 0px;">
          <div class="col">
          {% block leftcol %}
          {% endblock %}
          </div>
          <div class="col-8">
          {% block content %}
          {% endblock %}
          </div>
          <div class="col">
          {% block rightcol %}
          {% endblock %}
          </div>
      </div>
      <div class="row bg-dark" style="height: 5%; width: 100%;">
        {% comment %} <div class="col">
        </div>
        <div class="col-8">
        <a href="https://twitter.com/intent/tweet?button_hashtag=theroast&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #theroast</a>
        </div>
        <div class="col">
        </div> {% endcomment %}
      </div>
  </div>

  {% if not user.is_authenticated %}
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
          <br/>
          <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'base/base.js' %}"></script>
{% block post_body_static %}
{% endblock %}
</html>