{% extends "base.html" %} {% load static %} {% block content %}
<div id="home-app" style="margin-top: 12px">
  <h2 style="text-align: center; background-color: white;" id="roast-title">
    ☕ Upload a new roast ☕
  </h2>
  <hr style="margin-top: 24px" />
  <roast-form 
    method="POST" 
    action="{% url 'roast:roast-list' %}"
    @submit="submitted"
    @done="done"
    @error="error"
  >
    {% csrf_token %}
    <div class="form-group row">
      <div class="col">
        <form-label>Name:</form-label>
        <roast-input-line
          title="Name:"
          placeholder="Mighty Titan"
          name="name"
          style="margin-bottom: 6px;"
        ></roast-input-line>
        <form-label>Short Description:</form-label>
        <roast-input-line
          title="Short Description:"
          placeholder="A powerful blend containing.."
          name="short_description"
          style="margin-bottom: 6px;"
        ></roast-input-line>
        <form-label>Long Description:</form-label>
        <roast-input-line
          title="Long Description:"
          placeholder="A powerful blend containing.."
          name="long_description"
          style="margin-bottom: 6px;"
        ></roast-input-line>
        <roast-image-upload
          title="Upload Images:"
          name="images"
        ></roast-image-upload>
      </div>
    </div>
    <button 
        type="submit" 
        class="btn btn-dark btn-block shadow-lg mb-5 pill"
    >
      <span v-if="!loading">[[ submitText ]]</span>
      <div v-if="loading">
        <span 
          class="spinner-border spinner-border-sm" 
          role="status" 
          aria-hidden="true"
        ></span>
          Loading..
      </div>
    </button>
  </roast-form>
    <ul class="list-group">
      <li 
        class="list-group-item list-group-item-danger"
        style="text-align: center; margin-bottom: 4px;"
        v-if="errors"
        v-for="error in Object.keys(errors)"
      >
      {% comment %} 
        TODO: Fix this later
        
        It needs a better way to format the error name,
        and to show the errors. Instead of rendering the raw
        object. 
      {% endcomment %}
      <strong>[[ error[0].toUpperCase() + error.substring(1, error.length) ]]:</strong>
      <span> [[ errors[error] ]] </span>
      </li>
    </ul>
</div>
{% endblock %} 
{% block rightcol %} 
{% endblock %}
{% block post_body_static %}
<script src="{% static 'home/home.js' %}"></script>
<style>
  label {
    margin-top: 12px;
  }

  #roast-title {
    margin: 12px;

    /* #1 */
    border: 5px solid hsl(0, 0%, 40%);

    /* #2 */
    padding: 5px;

    /* #3 */
    outline: 5px solid hsl(0, 0%, 60%);

    /* #4 AND INFINITY!!! (CSS3 only) */
    box-shadow: 0 0 0 10px hsl(0, 0%, 80%), 0 0 0 15px hsl(0, 0%, 90%),
      0 0 0 20px hsl(0, 0%, 95%);
  }
</style>
{% endblock %}
