{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="home-app" style="margin-top: 12px">
    <h2 style="text-align: center;" id="roast-title"> ☕ Upload a new roast ☕ </h2>
    <hr style="margin-top: 24px"/>
    <form method="POST" action="{% url 'roast:create' %}">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col">
                <form-label>Name:</form-label>
                <roast-input-line title="Name:" placeholder="Mighty Titan" name="name" maxlength="5">
                </roast-input-line>
                <form-label>Description:</form-label>
                <roast-input-line title="Description:" placeholder="A powerful blend containing.." name="description">
                </roast-input-line>
            </div>
            <div class="col">
                <roast-image-upload
                    title="Upload Images:"
                >
                </roast-image-upload>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}

{% block rightcol %}
{% endblock %}

{% block post_body_static %}
<script src="{% static 'home/home.js' %}"></script>
<style>
label {
    margin-top: 12px;
}

#roast-title {
    margin: 12px;

    /* #1 */
    border: 5px solid hsl(0, 0%, 40%);

    /* #2 */
    padding: 5px;

    /* #3 */
    outline: 5px solid hsl(0, 0%, 60%);

    /* #4 AND INFINITY!!! (CSS3 only) */
    box-shadow:
        0 0 0 10px hsl(0, 0%, 80%),
        0 0 0 15px hsl(0, 0%, 90%);
}
</style>
{% endblock %}
