{% extends "base.html" %}
{% load static %}

{% block content %}
{% endblock %}

{% block rightcol %}
<div id="roast-app">
    <roast-page>
    </roast-page>
</div>
{% endblock %}

{% block post_body_static %}
<script>
Vue.component('roast-page', {
    props: ["roast"],
    template: `
    <div style="text-align: center; width: 100%; height: 100%;">
        <h2></h2>
        <hr />
        <roast-image src="">
        </roast-image>
    </div>
    `
})

var KEY = "{{unique_id}}"
var app = new Vue({
    el: "#roast-app",
    data: {
        roast: {}
    },
    mounted() { 
        axios.get({
            url: `/roast/${this.key}`
        })
            .then((response) => {
                console.log(response)
        })
            .catch((error) => {
                console.log(error)
        })
    }
})
</script>
{% endblock %}
